@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Montserrat;
    padding: 0;
    margin: 0;

}

header {
    background-color: #4064b4;
    padding: 10px;
}

nav.menu li {
    display: inline-block;
    list-style-type: none;
    margin: 10px;
}

nav.menu li > a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}


img {
    width: 400px;
}

h2 {
    font-size: 40px;
    margin: 10px;
}

section {
    text-align: center;
    padding: 58px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.692);
}

section#planos {
    padding: 58px 0;
}

button {

    border-radius: 50px;
    border-style: none;
    padding: 20px 50px;
    background-color: #4064b4;
    color: white;
    margin: 20px;
    font-size: 15px;

}

#quem-somos > p {
    text-align: justify;
}

section#planos table, tr, th, td {
    border: 1px solid rgb(180, 178, 178);
    border-collapse:collapse;
    padding: 15px;
    
}

table {
    width: 70%;
    margin: 12px auto;
}


table th {
    text-align: left;
    padding-right: 40px;
}


footer {
    text-align: center;
    color: gray;
    font-size: small;
    margin: 30px;
}
