@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Montserrat;
    padding: 0;
    margin: 0;

}

header {
    background-color: #4064b4;
    padding: 24px;
}

nav.menu li {
    list-style-type: none;
}

nav.menu > ul {
    display: flex;
    gap: 24px;
}
nav.menu li > a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

nav.menu li > a:hover {
    color: #4064b4;
    background-color: white;
    text-decoration: underline;
    border-radius: 30px;
    padding: 10px;
}


img {
    width: 400px;
}

h2 {
    font-size: 40px;
    margin: 10px;
}

section {
    text-align: center;
    padding: 58px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.692);
}

section#inicial {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

section#quem-somos {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

section#quem-somos > div {
    text-align: left;
    width: 60%;
}

button {

    border-radius: 50px;
    border-style: none;
    padding: 20px 50px;
    background-color: #4064b4;
    color: white;
    margin: 20px;
    font-size: 15px;
    cursor: pointer;

}

button:hover {
    font-weight: bold;
    background-color: #284583;
}

#quem-somos > p {
    text-align: justify;
}

section#planos table, tr, th, td {
    border: 1px solid rgb(180, 178, 178);
    border-collapse:collapse;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

section#planos {
    flex-direction: column;
    display: flex;
    align-items: center;
    
}
table {
    width: 70%;
    
}


table th {
    text-align: left;
    padding-right: 40px;
}


footer {
    text-align: center;
    color: gray;
    font-size: small;
    margin: 30px;
}

#whats {
    position: fixed;
    right: 35px;
    bottom: 35px;
    width: 60px;
}