/*@font-face {
    font-family: ;
    src: url();
} */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    text-align: center;
}

p {
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
}